{% extends 'base.html' %}
{% block content %}





<div class="container py-4">
  <div class="row pb-2">
    <div class="col">
      <h1><strong>{{juego.nombre_juego}}</strong></h1>
      <p>Antes de comenzar el juego recuerde introducir el nombre y apellido del usuario. Una vez terminada la sesión guárdelos y expórtelos haciendo click derecho. </p>
    </div>
  </div>
  <div class="row ">
      <div class="col-8">
        <iframe src="https://kblock.kittenbot.cn/?proj=9959825061" allowtransparency="true" width="1000" height="800" frameborder="0" scrolling="no" allowfullscreen></iframe>

      </div>



  </div>
</div>


{% endblock %}
